<html lang="en">

<%- include("./partials/head.ejs") %>

    <body>

        <%- include("./partials/nav.ejs") %>

            <div class="about content">
                <h2>About Us</h2>
                <p>CK Blog is an ambitious multimedia effort founded nine years ago to examine how technology will change life in the future for a massive mainstream audience.</p>
                <p>CK Blog focuses on how emerging technologies affect culture, the economy, and politics.The website provides an in-depth coverage of current and future trends in technology.</p>
                <p>CK Blog is an ambitious multimedia effort founded nine years ago to examine how technology will change life in the future for a massive mainstream audience.</p>
                <p>CK Blog focuses on how emerging technologies affect culture, the economy, and politics.The website provides an in-depth coverage of current and future trends in technology.</p>
            </div>

            <%- include("./partials/footer.ejs") %>
    </body>

</html>